@import "tailwindcss";

button{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}

h3{
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

h1{
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}