*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
  font-size: 30px;
  font-weight: bold;
  color: #007bff;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

h1{
  font-size: 40px;
  font-weight: bold;
  color: #000;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

button{
  background-color: #434343;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
}